# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment
.env
.env*.local

# OSX
.DS_Store

# IDE
.vscode/
.idea/

# Testing
coverage/

# Temporary files
*.tmp
*.temp
